//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.btn-brand {
    padding: 15px 43px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    background-color: $btn-blue;
    border-radius: 50px;
    overflow: hidden;
    font-family:  $font-opensans-bold;

    &:hover {
        background-color: $hover-blue;
    }

    &:hover,
    &:focus,
    &:active {
        color: #fff;
    }
}

.lined {
    border: 1px solid #fff;
}
