.modal-header {
    background-color: #0d384d;
    border-radius: 0;

    .close {
        color: #fff;
    }
}

.modal-title {
    color: #fff;
    font-size: 18px;
}

.modal-content {
    border-radius: 0;
}