//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
 
  .banner {
    padding: 50px 0;
    background-image: url('../../assets/images/background_banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


}

