//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-size: 14px;
  font-family: $text-font-stack;
  line-height: 25px;
}

.title {
  font-family: $font-monserrat-bold;
  font-size: 36px;
  color: $dark-grey;

  .light {
    font-family: $font-monserrat-regular;
  }
  
  .mid-blue {
    color: $mid-blue;
  }
}